<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

	<properties>
		<property name="logName">log</property>
		<property name="logPattern">%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5.5p | %-30.30C::%-30.30M:%-5.5L | %msg%n</property>
		<property name="logPath">/logs</property>
	</properties>

    <Appenders>
		<RollingFile name="file" fileName="${logPath}/${logName}.log" filePattern="${logPath}/$${date:yyyy}/$${date:MM}/$${date:dd}/${logName}.%i.%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<Pattern>${logPattern}</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="1000" fileIndex="min" />
		</RollingFile>
	   
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
    </Appenders>
    
    <Loggers>
        <!-- log SQL with timing information, post execution -->
        <!-- 
        <logger name="org.springframework" level="error" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </logger>
        
        <logger name="com.home.app" level="error" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </logger>
         -->
         
        <Root level="trace">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
    
</Configuration>