.cssBbsTable
{
    width: 600px;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
}

.cssBbsTable caption
{
	font-size: 15px;
    text-align: left;
    padding-top: 5px;
    border-bottom: 2px solid #d1d1d1;
}

.cssBbsTable th
{
	font-size: 12px;
    width: 85px;
    text-align: right;
    line-height: 20px;
    border-bottom: 1px solid #d1d1d1;
}

.cssBbsTable td
{
	font-size: 12px;
    text-align: left;
    border-bottom: 1px solid #d1d1d1;
}

.cssBbsButton
{
    width: 600px;
    height: 50px;
    text-align: center;
	padding-top: 20px;    
}

/*#subject 	{ width: 511px; }*/
#userName 	{ width: 169px; }
#userPw 	{ width: 169px; }
#userEmail 	{ width: 511px; }
#content	{ width: 598px; height: 250px; font-size: 11.6px;}

#imgBtnDeleteFileName 		
{  
	background-image: url("/resources/images/button/btn_delete.gif");
	background-repeat: no-repeat;
	width: 45px;
	height: 20px;
	vertical-align: top;
}

#imgBtnList 		
{  
	background-image: url("/resources/images/button/btn_list.gif");
	background-repeat: no-repeat;
	width: 45px;
	height: 20px;
	vertical-align: middle;	
}

#imgBtnWrite 		
{  
	background-image: url("/resources/images/button/btn_write.gif");
	background-repeat: no-repeat;
	width: 45px;
	height: 20px;
	vertical-align: middle;	
}

.cssFileName
{
    width: 459px;
    height: 20px;
}

#selectFileName
{
    width: 511px;
    height: 50px;
}