<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.home.app.cate.dao.CateDao"> <!--이 sql 문장과 매핑될 인터페이스의 완전한 경로-->
    <resultMap id="cateResultMap" type="com.home.app.cate.dto.CateDto">
        <id     property="no"    		column="NO"				jdbcType="INTEGER" 	javaType="java.lang.Integer" />
        <result property="viewNo" 		column="VIEW_NO"		jdbcType="INTEGER" 	javaType="java.lang.Integer" />
        <result property="bbsId" 		column="BBS_ID"			jdbcType="VARCHAR" 	javaType="java.lang.String" />
        <result property="bbsName" 		column="BBS_NAME"		jdbcType="VARCHAR" 	javaType="java.lang.String" />
        <result property="listSize" 	column="LIST_SIZE"		jdbcType="INTEGER" 	javaType="java.lang.Integer" />
        <result property="pageSize" 	column="PAGE_SIZE"		jdbcType="INTEGER" 	javaType="java.lang.Integer" />
        <result property="regDate" 		column="REG_DATE"		jdbcType="VARCHAR" 	javaType="java.lang.String" />        
        <result property="useYn" 		column="USE_YN"			jdbcType="VARCHAR" 	javaType="java.lang.String" />
	</resultMap>
	
    <select id="selectBbsIdYn" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT
		       (
		       CASE
		              WHEN COUNT(*) > 0 THEN 'Y'
		              ELSE 'N'
		       END
		       ) AS BBS_ID_YN
		  FROM BBS_CATE
		 WHERE BBS_ID = #{bbsId}
    </select>
	
	<sql id="searchCate">
		<choose>
			<when test="searchClass == 'ALL' and searchKeyword != null and searchKeyword != ''">
		       AND (
		       			B.BBS_ID LIKE #{searchKeyword} || '%' 
		        	 OR B.BBS_NAME LIKE #{searchKeyword} || '%' 
		           )
			</when> 
			<when test="searchClass == 'BBS_ID' and searchKeyword != null and searchKeyword != ''">
		       AND B.BBS_ID LIKE #{searchKeyword} || '%'  
			</when> 
			<when test="searchClass == 'BBS_NAME' and searchKeyword != null and searchKeyword != ''">
		       AND B.BBS_NAME LIKE #{searchKeyword} || '%'  
			</when> 
		</choose>
	</sql>

	<select id="selectCateCount" parameterType="com.home.app.cate.dto.CateSearchDto" resultType="java.lang.Integer">
		SELECT COUNT( *) TOTAL_COUNT
		  FROM BBS_CATE B
		 WHERE 1 = 1 
		<include refid="searchCate" />
    </select>
    
	<select id="selectCateList" parameterType="com.home.app.cate.dto.CateSearchDto" resultMap="cateResultMap">
		SELECT B.NO, 
		       ROW_NUMBER() OVER (ORDER BY B.NO DESC) AS VIEW_NO,
		       B.BBS_ID, 
		       B.BBS_NAME,
		       B.LIST_SIZE, 
		       B.PAGE_SIZE, 
		       TO_CHAR(B.REG_DATE, 'YYYY-MM-DD') AS REG_DATE, 
		       B.USE_YN 
		  FROM BBS_CATE B
		 WHERE NO <![CDATA[<=]]> 
		       ( 
		       SELECT NO 
		         FROM 
		              ( 
		              SELECT ROW_NUMBER() OVER(ORDER BY NO DESC, ROWID DESC) RN, 
		                     NO 
		                FROM BBS_CATE B
		               WHERE 1 = 1
					<include refid="searchCate" />		                 
		              ) 
		        WHERE 1 = 1 
		          AND RN = ((${page} - 1) * ${listSize} + 1) 
		          AND ROWNUM = 1 
		       ) 
		   AND ROWNUM <![CDATA[<=]]> ${listSize} 
		<include refid="searchCate" />
		 ORDER BY NO DESC 		   
    </select>
	
    <select id="selectCateView" parameterType="java.lang.Integer" resultMap="cateResultMap">
		SELECT A.NO,
		       A.BBS_ID,
		       A.BBS_NAME,
		       A.LIST_SIZE,
		       A.PAGE_SIZE,
		       TO_CHAR(A.REG_DATE, 'YYYY-MM-DD HH:MI:SS') AS REG_DATE,
		       A.USE_YN
		  FROM BBS_CATE A
		 WHERE 1 = 1
		   AND NO = #{no}
    </select>

    <select id="selectCateEdit" parameterType="java.lang.Integer" resultMap="cateResultMap">
		SELECT A.NO,
		       A.BBS_ID,
		       A.BBS_NAME,
		       A.LIST_SIZE,
		       A.PAGE_SIZE,
		       TO_CHAR(A.REG_DATE, 'YYYY-MM-DD HH:MI:SS') AS REG_DATE,
		       A.USE_YN
		  FROM BBS_CATE A
		 WHERE 1 = 1
		   AND NO = #{no}
    </select>

    <select id="selectBbsId" resultMap="cateResultMap">
		SELECT BBS_ID,
		       BBS_NAME
		  FROM BBS_CATE 
		 WHERE 1 = 1 
	       AND USE_YN = 'Y' 
		 ORDER BY BBS_NAME ASC		
    </select>
    
    <insert id="insertCate" parameterType="com.home.app.cate.dto.CateDto">    	
		INSERT INTO BBS_CATE 
		       ( 
		           NO, 
		           BBS_ID,
		           BBS_NAME,
		           LIST_SIZE,
		           PAGE_SIZE,
		           USE_YN, 
		           REG_DATE
		       ) 
		       VALUES 
		       ( 
		           BBS_CATE_NO.NEXTVAL, 
		           #{bbsId},
		           #{bbsName},
		           #{listSize},
		           #{pageSize}, 
		           #{useYn},
		           SYSDATE
		       )
		<selectKey keyProperty="no" resultType="java.lang.Integer" order="AFTER">
			SELECT BBS_CATE_NO.CURRVAL FROM DUAL
		</selectKey>		       
    </insert>

    <update id="updateCate" parameterType="com.home.app.cate.dto.CateDto">
		UPDATE BBS_CATE 
		   SET BBS_ID = #{bbsId}, 
		       BBS_NAME = #{bbsName}, 
		       LIST_SIZE = #{listSize}, 
		       PAGE_SIZE = #{pageSize},
		       USE_YN = #{useYn}, 
		       REG_DATE = SYSDATE 
		 WHERE NO = #{no}  
    </update>

    <delete id="deleteCate" parameterType="java.lang.Integer">
		DELETE FROM BBS_CATE
		 WHERE NO = #{no}
    </delete>
</mapper>
