.cssCateTable
{
    width: 600px;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
}

.cssCateTable caption
{
	font-size: 15px;
    text-align: left;
    padding-top: 5px;
    border-bottom: 2px solid #d1d1d1;
}

.cssCateTable th
{
	font-size: 12px;
    width: 85px;
    text-align: right;
    line-height: 20px;
    border-bottom: 1px solid #d1d1d1;
}

.cssCateTable td
{
	font-size: 12px;
    text-align: left;
    border-bottom: 1px solid #d1d1d1;
}

.cssCateButton
{
    width: 600px;
    height: 50px;
    text-align: center;
	padding-top: 20px;    
}

#imgBtnSearch
{
	background-image: url("/resources/images/button/btn_search.gif");
	background-repeat: no-repeat;
	width: 45px;
	height: 20px;
	vertical-align: middle;
}

#imgBtnList 		
{  
	background-image: url("/resources/images/button/btn_list.gif");
	background-repeat: no-repeat;
	width: 45px;
	height: 20px;
	vertical-align: middle;	
}

#imgBtnWrite 		
{  
	background-image: url("/resources/images/button/btn_write.gif");
	background-repeat: no-repeat;
	width: 45px;
	height: 20px;
	vertical-align: middle;	
}

#divCateListSearch
{
    width: 600px;
    height: 22px;
    padding-top: 4px;
}

#divCateListSearch #searchKeyword
{
	font-size: 12px;	
}

#tblCateListTable
{
	font-size: 12px;
    width: 600px;
	border: solid 1px #d1d1d1;
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
}

#tblCateListTable th
{
	height: 20px;
	border-bottom: solid 1px #d1d1d1;
    border-collapse: collapse;
    border-spacing: 0px;
	text-align: center;
	vertical-align: bottom;
	background-color: #f3f3f3;
}

#thCateListNo 			{ width: 50px;	}
#thCateListSubject 		{ width: 150px;	}
#thCateListBbsId 		{ width: 70px; }
#thCateListListSize 	{ width: 80px; 	}
#thCateListPageSize 	{ width: 80px; 	}
#thCateListRegDate 		{ width: 80px; 	}
#thCateListUseYn 		{ width: 80px; 	}

#tblCateListTable td
{
	height: 20px;
	border-bottom: solid 1px #d1d1d1;
    border-collapse: collapse;
    border-spacing: 0px;
	vertical-align: bottom;
}

.cssCateListNo			{ text-align: center; 	}
.cssCateListSubject		{ text-align: center;	 text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.cssCateListBbsId	 	{ text-align: center; 	}
.cssCateListListSize 	{ text-align: center; 	}
.cssCateListPageSize 	{ text-align: center; 	}
.cssCateListRegDate 	{ text-align: center; 	}
.cssCateListUseYn 		{ text-align: center; 	}

#divCateListPage
{
	font-size: 12px;
    width: 600px;
    height: 30px;
    border: 0px;
    text-align: center;
    padding-top: 10px;
    border-collapse: collapse;
    border-spacing: 100px;
}

.cssCateListCurrPage
{
	font-size: 12px;
	font-family: ����;
	font-weight: bold;
}