<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.home.app.common.dao.ComboDao"> <!--이 sql 문장과 매핑될 인터페이스의 완전한 경로-->
    <resultMap id="comboResultMap" type="com.home.app.common.dto.ComboDto">
        <id     property="no"    		column="NO"				jdbcType="INTEGER" 	javaType="java.lang.Integer" />
        <result property="groupCode" 	column="GROUP_CODE"		jdbcType="VARCHAR" 	javaType="java.lang.String" />
        <result property="codeId" 		column="CODE_ID"		jdbcType="VARCHAR" 	javaType="java.lang.String" />
        <result property="codeName"		column="CODE_NAME"		jdbcType="VARCHAR" 	javaType="java.lang.String" />
        <result property="useYn"		column="USE_YN"			jdbcType="VARCHAR" 	javaType="java.lang.String" />
	</resultMap>
	
    <select id="selectComboList" parameterType="com.home.app.common.dto.ComboDto" resultMap="comboResultMap" fetchSize="1000">
    	<choose> 
    		<!-- 공통 콤보박스  -->
    		<when test="@com.home.app.util.Util@isEquals(comboType, 'code')">
				SELECT NO, 
				       CODE_ID, 
				       CODE_NAME 
				  FROM COMMON_CODE 
				 WHERE 1 = 1 
				       AND GROUP_CODE = #{groupCode} 
				       AND USE_YN = 'Y' 
				 ORDER BY NO ASC		
		 	</when> 
    		<when test="@com.home.app.util.Util@isEquals(comboType, 'cate')">
				SELECT BBS_ID AS CODE_ID,
				       BBS_NAME AS CODE_NAME
				  FROM BBS_CATE 
				 WHERE 1 = 1 
			       AND USE_YN = 'Y' 
				 ORDER BY BBS_NAME ASC		
		 	</when> 
		 </choose> 
    </select>

</mapper>
