<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.home.app.common.dao.TreeDao"> <!--이 sql 문장과 매핑될 인터페이스의 완전한 경로-->
    <resultMap id="treeResultMap" type="com.home.app.common.dto.TreeDto">
    	<id     property="no" 			column="NO"				jdbcType="INTEGER" 	javaType="java.lang.Integer" />
        <result property="id" 			column="TREE_ID"		jdbcType="VARCHAR" 	javaType="java.lang.String" />
        <result property="parent" 		column="TREE_PARENT"	jdbcType="VARCHAR" 	javaType="java.lang.String" />
        <result property="text" 		column="TREE_TEXT"		jdbcType="VARCHAR" 	javaType="java.lang.String" />
        <result property="icon" 		column="TREE_ICON"		jdbcType="VARCHAR" 	javaType="java.lang.String" />
	</resultMap>
	
    <select id="selectTreeList" parameterType="com.home.app.common.dto.TreeDto" resultMap="treeResultMap">
		SELECT NO, 
		       NVL 
		       ( 
		            (SELECT TREE_ID 
		              FROM TREE Z 
		             WHERE Z.NO = A.TREE_PNO 
		            ), '#' 
		        ) 
		        TREE_PARENT, 
		        TREE_ID, 
		        TREE_TEXT, 
		        ( 
		            CASE 
		                WHEN 
		                    (SELECT COUNT( * ) 
		                      FROM TREE Z 
		                     WHERE Z.TREE_PNO = A.NO 
		                    ) > 0 THEN '/resources/images/tree/folder.gif' 
		                ELSE '/resources/images/tree/folder-closed.gif' 
		            END 
		        ) 
		        TREE_ICON 
		   FROM TREE A
		 ORDER BY TREE_ID ASC 
    </select>

</mapper>
