/* 전체 */
#divMain
{
	/*width: 990px;*/ 
	/*margin: 0 auto;*/ 
	/*padding: 0px 0px 0px 0px;*/ 
	/*text-align:left;*/ 
	/*border: solid 1px #d1d1d1;*/
}

/* 상단 */
#divTop
{
	/*width: 978px;*/ 
	/*height: 100px;*/ 
	margin: 5px 0px 0px 0px; 
	padding: 0px 0px 0px 0px; 
	border: solid 1px #d1d1d1;
}

/* 좌측 */
#divLeft
{
	/*width: 177px;*/ 
	/*height: 470px;*/
	margin: 5px 0px 5px 0px; 
	padding: 0px 0px 0px 0px; 
	/*float: left;*/ 
	border: solid 1px #d1d1d1;
}

/* 중앙 */
#divCenter
{
	/*width: 610px;*/ 
	/*min-height: 470px;*/
	/*_height: 470px;*/
	margin: 5px 0px 5px 0px;*/ 
	padding: 0px 0px 0px 5px; 
	/*float: left;*/ 
	border: solid 1px #d1d1d1;
}

/* 우측 */
#divRight
{
	/*width: 172px;*/ 
	/*height: 470px;*/ 
	margin: 5px 0px 5px 0px; 
	padding: 0px 0px 0px 0px; 
	/*float: left;*/ 
	border: solid 1px #d1d1d1;
}

/* 하단 */
#divBottom
{
	/*clear: both;*/ 
	/*width: 978px;*/ 
	/*height: 20px;*/ 
	margin: 0px 0px 0px 0px;*/ 
	padding: 0px 0px 0px 0px; 
	border: solid 1px #d1d1d1; 
	vertical-align: middle;
	text-align: center; 
	height: 20px; 
}
