/***################################################ ���̾ƿ� ��ü ���� ################################################***/
#divMain
{
	/*width: 990px; 
	margin: 0 auto; 
	padding: 0px 0px 0px 0px; 
	text-align:left; 
	border: solid 1px #d1d1d1;
	*/
}
/***################################################ ���̾ƿ� ��ü ���� ################################################***/
/***################################################ ���̾ƿ� ��� ���� ################################################***/
#divTop
{
	/*width: 978px; 
	height: 100px; 
	margin: 5px 5px 0px 5px; 
	padding: 0px 0px 0px 0px; 
	*/
	border: solid 1px #d1d1d1;
}
/***################################################ ���̾ƿ� ��� ���� ################################################***/
/***################################################ ���̾ƿ� ���� ���� ################################################***/
#divLeft
{
	/*width: 177px; 
	height: 470px;
	margin: 5px 0px 5px 5px; 
	padding: 0px 0px 0px 0px; 
	float: left; 
	*/
	border: solid 1px #d1d1d1;
}
/***################################################ ���̾ƿ� ���� ���� ################################################***/
/***################################################ ���̾ƿ� ���� ���� ################################################***/
#divCenter
{
	/*width: 610px; 
	min-height: 470px;
	_height: 470px;
	margin: 5px 0px 5px 5px; 
	padding: 0px 0px 0px 5px; 
	float: left; 
	*/
	border: solid 1px #d1d1d1;
}
/***################################################ ���̾ƿ� ���� ���� ################################################***/
/***################################################ ���̾ƿ� ���� ���� ################################################***/
#divRight
{
	/*width: 172px; 
	height: 470px; 
	margin: 5px 5px 5px 5px; 
	padding: 0px 0px 0px 0px; 
	float: left; 
	*/
	border: solid 1px #d1d1d1;
}
/***################################################ ���̾ƿ� ���� ���� ################################################***/
/***################################################ ���̾ƿ� �ϴ� ���� ################################################***/
#divBottom
{
	/*clear: both; 
	width: 978px; 
	height: 20px; 
	margin: 0px 5px 5px 5px; 
	padding: 0px 0px 0px 0px; 
	border: solid 1px #d1d1d1; 
	text-align: center; 
	*/
	border: solid 1px #d1d1d1; 
	vertical-align: middle;
	text-align: center; 
	height: 20px; 
}
/***################################################ ���̾ƿ� �ϴ� ���� ################################################***/
