/***################################################ 레이아웃 전체 시작 ################################################***/
#divMain
{
	width: 990px; 
	margin: 0 auto; 
	padding: 0px 0px 0px 0px; 
	text-align:left; 
	border: solid 1px #d1d1d1;
}
/***################################################ 레이아웃 전체 종료 ################################################***/
/***################################################ 레이아웃 상단 시작 ################################################***/
#divTop
{
	width: 978px; 
	height: 100px; 
	margin: 5px 5px 0px 5px; 
	padding: 0px 0px 0px 0px; 
	border: solid 1px #d1d1d1;
}
/***################################################ 레이아웃 상단 종료 ################################################***/
/***################################################ 레이아웃 좌측 시작 ################################################***/
#divLeft
{
	width: 177px; 
	height: 470px;
	margin: 5px 0px 5px 5px; 
	padding: 0px 0px 0px 0px; 
	float: left; 
	border: solid 1px #d1d1d1;
}
/***################################################ 레이아웃 좌측 종료 ################################################***/
/***################################################ 레이아웃 내용 시작 ################################################***/
#divCenter
{
	width: 610px; 
	min-height: 470px;
	_height: 470px;
	margin: 5px 0px 5px 5px; 
	padding: 0px 0px 0px 5px; 
	float: left; 
	border: solid 1px #d1d1d1;
}
/***################################################ 레이아웃 내용 종료 ################################################***/
/***################################################ 레이아웃 우측 시작 ################################################***/
#divRight
{
	width: 172px; 
	height: 470px; 
	margin: 5px 5px 5px 5px; 
	padding: 0px 0px 0px 0px; 
	float: left; 
	border: solid 1px #d1d1d1;
}
/***################################################ 레이아웃 우측 종료 ################################################***/
/***################################################ 레이아웃 하단 시작 ################################################***/
#divBottom
{
	clear: both; 
	width: 978px; 
	height: 20px; 
	margin: 0px 5px 5px 5px; 
	padding: 0px 0px 0px 0px; 
	border: solid 1px #d1d1d1; 
	text-align: center; 
	vertical-align: middle;
}
/***################################################ 레이아웃 하단 종료 ################################################***/
